/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Rubik Mono One', sans-serif; 
    font-size: 100%;
}

/* Header */

header {
    width: 100%;
    height: 80px;
    background-color: black;
}

.btn-header-cont {
    float: right;
    padding: .2em;
}

.btn-header {
    background-color: #4a4a4a;
    color: white;
    padding: .3em;
    border: none;
}

/* main */

main {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: darkcyan;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: aqua;
}