/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Rubik Mono One', sans-serif; 
    font-size: 75%;
}

/* Header */

header {
    width: 100%;
    height: 80px;
    background-color: black;
}

.btn-header-cont {
    float: right;
    padding: .2em;
}

.btn-header {
    background-color: #4a4a4a;
    color: white;
    padding: .3em;
    border: none;
}

/* main */

main {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: darkcyan;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.user {
    width: 240px;
    height: 160px;
    background-color: blue;
    position: relative;
}

.user > img {
    width: 100%;
    height: 100%;
}

.user-id {
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: white;
}

.user-id-bg {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .8rem 3.5rem;
    opacity: .6;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: aqua;
}